<div bsModal #printingModal="bs-modal" class="modal modal-app fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center form float floating-response">
            <div class="modal-content">
                <div class="modal-header">
                    <a (click)="hide()" href="javascript:;" class="pull-right" aria-label="Close">
                        <i class="fa fa-close font-red font-size-15 mrg5B"></i>
                    </a>
                    <h4 class="modal-title">Printing Documents</h4>
                </div>
                <div class="modal-body" *ngIf="htmlPrint != ''">
                    <div class="inner">
                        <iframe id="myFrame" name="myFrame" [src]="htmlPrint | safeUrl" [style.height.px]="mobHeight" frameborder="0" style=" position: relative; height: auto; width: 100%;"
                            class="printing-iframe"></iframe>
                    </div>
                    <div class="text-right">
                        <button mat-button (click)="hide()" class="btn btn-info mrg5L" type="button">
                            <i class="fa fa-close"></i> Close</button>
                        <!-- <button mat-button (click)="goDownload()" class="btn btn-success mrg5L" type="button"><i class="fa fa-file-text-o"></i> Download</button> -->
                        <button mat-button (click)="goPrint()" class="btn btn-danger mrg5L" type="button">
                            <i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>