<div *ngIf="isLoading" class="inner-loading text-center"><span class="display-inline spinner spinner-3"></span></div>
<div *ngIf="isLoading == false" class="container inner-page" [ngClass]="{ 'about-us-page' : isAboutUs }">
    <h1 class="text-center ng-heading">{{ currentPage.title }}</h1>
    <div class="inner"
        appEqualize="equalize" 
        [ngClass]="{ 'with-bg' : isContactPage }"
        [ngStyle]="{
            'background-image': isContactPage ? 'url(' + contactBg + ')' : '',
            'background-position': isContactPage ? 'center bottom' : '',
            'background-size': isContactPage ? '100% auto' : ''
        }">
        <div [innerHTML]="currentPage.content | safeHtml"></div>
        <app-claim-form *ngIf="isClaimPage" #claimForm
            (claimSubmitted)="onClaimSubmitted()">
        </app-claim-form>
        <app-inquiry-form *ngIf="isContactPage" #inquiryForm
            (inquirySubmitted)="onInquirySubmitted()">
        </app-inquiry-form>
        <div *ngIf="isContactPage && contactFooter" class="contact-us-footer">
            <div [innerHTML]="contactFooter.content | safeHtml"></div>
            <ul class="list-inline text-right social-links">
                <li *ngFor="let item of contactSocials; let i = index">
                    <a [href]="item.value" target="_blank" rel="nofollow">
                        <i [ngClass]="'fa-3x fa fa-' + item.label"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="isAboutUs" class="row row-tariff">
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <table class="table table-responsive table-tariff borderless">
                    <thead>
                        <tr>
                            <th width="60%" class="ectpl-orange font-size-26">Vehicle Classification</th>
                            <th width="60%" class="text-right ectpl-orange font-size-26">Total Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of prices">
                            <td>{{ item.label }}</td>
                            <td class="text-right">P {{ item.price | number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>