<div bsModal #authModal="bs-modal" class="modal modal-ngx modal-app fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg vertical-align-center form float floating-response">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="isProcessing" class="inner-loading position-absolute">
                    <span class="spinner spinner-3"></span>
                </div>
                <a (click)="hide()" href="javascript:;" class="pull-right" aria-label="Close">
                    <i class="fa fa-close font-red font-size-15 mrg5B"></i>
                </a>
                <h4 class="modal-title">{{ actionTitle }}</h4>
            </div>
            <div class="modal-body">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <div *ngIf="isSignin" class="row">
                    <div class="col-xs-12 col-md-push-6 col-md-6 pane-left">
                        <h3 class="txtShadow">Sign-in your registered account or <a href="javascript:;" (click)="goSignUp()">Sign-up now!</a></h3>
                        <form [formGroup]="loginFormGroup">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput type="email"
                                    formControlName="email"
                                    #email
                                    maxlength="50"
                                    [(ngModel)]="login.email" 
                                    placeholder="Email Address" required>
                                    <mat-error align="start" *ngIf="loginEmail.errors?.required">This field is required.</mat-error>
                                    <mat-error align="start" *ngIf="loginEmail.errors?.email && !loginEmail.errors?.required">Email is invalid.</mat-error>
                                    <mat-error align="start" *ngIf="loginEmail.errors?.invalid && !loginEmail.errors?.email && !loginEmail.errors?.required">No account associated with that email.</mat-error>
                                    <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput type="password"
                                    formControlName="password"
                                    #password
                                    maxlength="50"
                                    [(ngModel)]="login.password" 
                                    placeholder="Password" required>
                                    <mat-error align="start" *ngIf="loginPassword.errors?.required">This field is required.</mat-error>
                                    <mat-error align="start" *ngIf="loginPassword.errors?.invalid && !loginPassword.errors?.required">Password is incorrect.</mat-error>
                                    <mat-hint align="end">{{password.value.length}} / 50</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="pull-right form-buttons">
                                <button (click)="doSignIn()" class="btn btn-info btn-my-app"><i class="fa fa-sign-in glyph-icon"></i> {{ signInText }}</button>
                            </div>
                            <div class="pull-left">
                                <a href="javascript:;" (click)="goForgot()">Forgot your password?</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-pull-6 col-md-6 pane-right">
                        <h3 class="font-size-15 txtShadow">Sign-in using:</h3>
                        <button (click)="goProviderLogin('facebook')" class="btn bg-facebook btn-block mrg10B bxShadow">
                            <i class="fa fa-facebook mrg15R"></i>Facebook
                        </button>
                        <button (click)="goProviderLogin('google')" class="btn bg-google btn-block mrg10B bxShadow">
                            <i class="fa fa-google mrg15R"></i>Google
                        </button>
                        <button (click)="goProviderLogin('twitter')" class="btn bg-twitter btn-block bxShadow">
                            <i class="fa fa-twitter mrg15R"></i>Twitter
                        </button>
                    </div>
                </div>
                
                <form *ngIf="isSignup" [formGroup]="signUpFormGroup" class="row">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput
                                formControlName="firstName"
                                #firstName
                                maxlength="50"
                                [(ngModel)]="signup.first_name" 
                                placeholder="First Name" required>
                                <mat-error align="start" *ngIf="signUpFirstName.errors?.required">This field is required.</mat-error>
                                <mat-hint align="end">{{firstName.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput
                                formControlName="lastName"
                                #lastName
                                maxlength="50"
                                [(ngModel)]="signup.last_name" 
                                placeholder="Last Name" required>
                                <mat-error align="start" *ngIf="signUpLastName.errors?.required">This field is required.</mat-error>
                                <mat-hint align="end">{{lastName.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput
                                formControlName="contactNumber"
                                #contactNumber
                                maxlength="15"
                                [(ngModel)]="signup.contact_number" 
                                placeholder="Contact Number" required>
                                <mat-error align="start" *ngIf="signUpContactNumber.errors?.required">This field is required.</mat-error>
                                <mat-hint align="end">{{contactNumber.value.length}} / 15</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="email"
                                formControlName="email"
                                #email
                                maxlength="50"
                                [(ngModel)]="signup.email" 
                                placeholder="Email Address" required>
                                <mat-error align="start" *ngIf="signUpEmail.errors?.required">This field is required.</mat-error>
                                <mat-error align="start" *ngIf="signUpEmail.errors?.email && !signUpEmail.errors?.required">Email is invalid.</mat-error>
                                <mat-error align="start" *ngIf="signUpEmail.errors?.invalid && !signUpEmail.errors?.email && !signUpEmail.errors?.required">Email already in use.</mat-error>
                                <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="password"
                                formControlName="password"
                                #password
                                maxlength="15"
                                minlength="8"
                                [(ngModel)]="signup.password" 
                                placeholder="Password" required>
                                <mat-error align="start" *ngIf="signUpPassword.errors?.required">This field is required.</mat-error>
                                <mat-error align="start" *ngIf="signUpPassword.errors?.minLength && signUpPassword.errors?.required">Password must atleast 8 characters.</mat-error>
                                <mat-hint align="end">{{password.value.length}} / 15</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="password"
                                formControlName="passwordConfirmation"
                                #passwordConfirmation
                                maxlength="15"
                                [(ngModel)]="signup.password_confirmation" 
                                placeholder="Confirm Password" required>
                                <mat-error align="start" *ngIf="signUpPasswordConfirmation.errors?.required">This field is required.</mat-error>
                                <mat-error align="start" *ngIf="signUpPasswordConfirmation.errors?.MatchPassword && !signUpPasswordConfirmation.errors?.required">Password does not match.</mat-error>
                                <mat-hint align="end">{{passwordConfirmation.value.length}} / 15</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="form-group">
                            <h5 class="my-label">How did you hear about us?</h5>
                            <div class="row">
                                <div [attr.class]="sourceEntityClass">
                                    <mat-form-field>
                                        <mat-select placeholder="Source" formControlName="sources" #sources 
                                        [(ngModel)]="signup.sources" 
                                        (selectionChange)="sourcesChange()">
                                            <mat-option *ngFor="let source of sourceOptions" [value]="source.name">
                                                {{ source.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="sourceEntity" [attr.class]="sourceEntityClass">
                                    <mat-form-field>
                                        <input matInput formControlName="sourceEntity" #sourceEntity maxlength="15" 
                                        [(ngModel)]="signup.source_entity" 
                                        [attr.placeholder]="sourceEntityLabel">
                                        <mat-hint align="end">{{sourceEntity.value.length}} / 15</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <re-captcha (resolved)="captchaResolved($event)" class="captcha-center-margin" [siteKey]="captchaKey"></re-captcha>
                    </div>
                    <div class="col-xs-12 text-center mrg15T form-buttons">
                        <a class="btn btn-danger mrg5R" (click)="goSignIn()"><i class="fa fa-arrow-left"></i> Back</a>
                        <button type="submit" class="btn btn-info" (click)="doSignUp()"><i class="fa fa-sign-in"></i> {{ signUpText }}</button>
                    </div>
                </form>
                
                <form *ngIf="isForgot" [formGroup]="forgotFormGroup" class="row">
                    <div class="col-xs-12 col-md-offset-3 col-md-6">
                        <p class="mrg15B">
                            <a href="javascript:;" (click)="goSignIn()"><i class="fa fa-angle-left"></i> <span>Go Back</span></a>
                        </p>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="email"
                                formControlName="email"
                                #email
                                maxlength="50"
                                [(ngModel)]="forgot.email" 
                                placeholder="Email Address" required>
                                <mat-error align="start" *ngIf="forgotEmail.errors?.required">This field is required.</mat-error>
                                <mat-error align="start" *ngIf="forgotEmail.errors?.email && !forgotEmail.errors?.required && !forgotEmail.errors?.notExist">Email is invalid.</mat-error>
                                <mat-error align="start" *ngIf="forgotEmail.errors?.invalid && !forgotEmail.errors?.email && !forgotEmail.errors?.required">We cannot find an account associated with this email.</mat-error>
                                <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                        <a (click)="doForgot()" class="btn btn-block btn-info mrg5R"><i class="fa fa-paper-plane-o"></i> Send Reset Link</a>
                        <div *ngIf="hasForgotResponse" class="mrg10T text-center font-blue-alt font-size-15">
                            {{ forgotResponse }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
