<h2 mat-dialog-title>Note:</h2>
<mat-dialog-content>
  <h5>Before you continue please make sure that cars or motorcylces with NEW plate numbers are duly registered and updated with
  the Land and Transportation Office. Non-compliance, will result to void transactions. <strong>Temporary plate numbers and conduction
  sticker numbers are not acceptable</strong></h5>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-danger" mat-button mat-dialog-close>Cancel transaction</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button class="btn btn-info" mat-button [mat-dialog-close]="true">Continue.</button>
</mat-dialog-actions>