
<header id="header" class="header">
    
    <div class="container">
        <div class="inner display-inline">
            <img id="topleftmost-logo"
                [attr.src]="settingsService.settings.full_logo_secondary_path" 
                [attr.alt]="settingsService.settings.site_name" class="img-responsive">
            <div class="start">
                <div class="upper-pane">
                    <img [attr.src]="settingsService.settings.full_logo_path" 
                        [attr.alt]="settings.site_name" 
                        class="img-responsive img-aligncenter">
                </div>
                <nav class="lower-pane display-inline">
                    <mat-menu #appMenu="matMenu">
                        <a mat-menu-item [routerLink]="'/'" routerLinkActive="active"><i class="fa fa-home fa-1x mrg5R"></i> Home</a>
                        <a mat-menu-item *ngIf="hasLogin" routerLink="app/account/my-tpl-insurance" routerLinkActive="active"><i class="fa fa-list-alt fa-1x mrg5R"></i> My TPL Insurance</a>
                        <a mat-menu-item routerLink="app/how-to-register" routerLinkActive="active"><i class="fa fa-list-ol fa-1x mrg5R"></i> How to Register</a>
                        <a mat-menu-item routerLink="app/how-to-claim" routerLinkActive="active"><i class="fa fa-address-book-o fa-1x mrg5R"></i> How to Claim</a>
                        <a mat-menu-item routerLink="app/faq" routerLinkActive="active"><i class="fa fa-question fa-1x mrg5R"></i> FAQ</a>
                        <a mat-menu-item routerLink="app/about-us" routerLinkActive="active"><i class="fa fa-building-o fa-1x mrg5R"></i> About Us</a>
                        <a mat-menu-item routerLink="app/contact-us" routerLinkActive="active"><i class="fa fa-volume-control-phone fa-1x mrg5R"></i> Contact Us</a>
                        <a *ngIf="hasLogin" mat-menu-item routerLink="app/account/profile"><i class="fa fa-user fa-1x mrg5R"></i> Accounts</a>
                        <a *ngIf="hasLogin" mat-menu-item (click)="goLogout()"><i class="fa fa-sign-out fa-1x mrg5R"></i> Sign Out</a>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="appMenu" class="visible-xs pad5L" type="button">
                        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                    </button>
                    <ul id="desktop-navigation" class="hidden-xs list-inline main-navigation">
                        <li><a [routerLink]="'/'" routerLinkActive="app/active">Home</a></li>
                        <li *ngIf="hasLogin"><a routerLink="app/account/my-tpl-insurance" routerLinkActive="active">My TPL Insurance</a></li>
                        <li><a routerLink="app/how-to-register" routerLinkActive="active">How to Register</a></li>
                        <li><a routerLink="app/how-to-claim" routerLinkActive="active">How to Claim</a></li>
                        <li><a routerLink="app/faq" routerLinkActive="active">FAQ</a></li>
                        <li><a routerLink="app/about-us" routerLinkActive="active">About Us</a></li>
                        <li><a routerLink="app/contact-us" routerLinkActive="active">Contact Us</a></li>

                        <!-- <li *ngFor="let page of settingsService.pages">
                            <a *ngIf="hasLogin" [routerLink]="['page', page.slug]" routerLinkActive="active">{{ page.title }}</a>
                            <a *ngIf="hasLogin == false" [href]="baseUri + '/page/' + page.slug" routerLinkActive="active">{{ page.title }}</a>
                        </li> -->
                    </ul>
                </nav>
                <div class="account-action hidden-xs" *ngIf="hasLogin">
                    <!-- *ngIf="hasLogin" -->
                    <p class="starter">
                        <span class="hidden-xs">{{ userData.name }}&nbsp;&nbsp;&nbsp;</span>
                        <img [attr.src]="userData.profile_logo" 
                            [attr.alt]="userData.first_name" 
                            class="user-profile-photo" [matMenuTriggerFor]="accountMenu">
                    </p>
                    <mat-menu #accountMenu="matMenu" xPosition="after">
                        <button mat-menu-item routerLink="app/account/profile">Accounts</button>
                        <button mat-menu-item (click)="goLogout()">Sign Out</button>
                    </mat-menu>
                </div>
            </div>
            <div *ngIf="settingsService.getInquiryEmail() || settingsService.getSupportNumber()" class="lower visible-xs helper-xs clearfix pad15R pad15L pad10B">
                <h5 class="ectpl-blue font-size-13 mrg5B mrg10T">NEED HELP?</h5>
                <p *ngIf="settingsService.getSupportNumber()" class="pull-left display-inline"><i class="ectpl-blue fa fa-phone"></i> <a 
                    [href]="'tel:' + settingsService.getSupportNumber()" class="ectpl-orange">{{ settingsService.getSupportNumber() }}</a></p>
                <p *ngIf="settingsService.getInquiryEmail()" class="pull-right display-inline mrg0T"><i class="ectpl-blue fa fa-envelope"></i> <a 
                    [href]="'mailto:' + settingsService.getInquiryEmail()" class="ectpl-orange">{{ settingsService.getInquiryEmail() }}</a></p>
            </div>
        </div>
    </div>
    
</header>

<section id="main" class="main ng-app" [class.has-auth]="hasLogin">
    
    <router-outlet
        #route="outlet"
        (hasAuth)="hasLogin"></router-outlet>
    
</section>

<div class="my-loader">
    <div class="loader"></div>
</div>
