<hr>
<div *ngIf="isSent" [@flyInOut]="'in'" class="text-center">
    <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i><br>
    <h3>Thank You!</h3>
</div>
<form *ngIf="isSent == false" [formGroup]="inquiryForm" class="row inquiry-form">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="form-group">
            <mat-form-field>
                <input matInput
                formControlName="firstName"
                #firstName
                maxlength="50"
                [(ngModel)]="inquiryData.first_name" 
                placeholder="First Name" required>
                <mat-error align="start" *ngIf="firstName.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{firstName.value.length}} / 50</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput
                formControlName="lastName"
                #lastName
                maxlength="50"
                [(ngModel)]="inquiryData.last_name" 
                placeholder="Last Name">
                <mat-error align="start" *ngIf="lastName.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{lastName.value.length}} / 50</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput
                formControlName="contactNumber"
                #contactNumber
                maxlength="15"
                [(ngModel)]="inquiryData.contact_number" 
                placeholder="Contact Number" required>
                <mat-error align="start" *ngIf="contactNumber.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{contactNumber.value.length}} / 15</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="email"
                formControlName="email"
                #email
                maxlength="50"
                [(ngModel)]="inquiryData.email" 
                placeholder="Email Address" required>
                <mat-error align="start" *ngIf="email.errors?.required">This field is required.</mat-error>
                <mat-error align="start" *ngIf="email.errors?.email && !email.errors?.required">Email is invalid.</mat-error>
                <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput
                formControlName="message"
                #message
                maxlength="255"
                [(ngModel)]="inquiryData.message" 
                placeholder="Message" 
                matTextareaAutosize 
                matAutosizeMinRows="2"
                matAutosizeMaxRows="10" required></textarea>
                <mat-error align="start" *ngIf="message.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <re-captcha #captchaRef="reCaptcha" class="captcha-center-margin" (resolved)="captchaResolved($event)" [siteKey]="captchaKey" style="transform-origin: left top;-webkit-transform-origin: left top;"></re-captcha>
        </div>
        <div class="text-center">
            <button mat-button (click)="onSubmitInquiry()" class="btn btn-info" type="submit"><span>{{ procText }}</span> <i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
</form>