<div class="modal-dialog modal-info">
    <div class="modal-content">
        <div class="modal-body">
            <h4 class="modal-title text-center">{{title || 'Please Wait...'}}</h4>
            <i class="spinner spinner-3"></i>
        </div>
    </div>
</div>