<div class="container inner-page insurance-list-page">
    <h1 class="text-center ng-heading">My Insurance</h1>
    <div class="inner">
        <div class="filter-rows form form-inline clearfix">
            <div class="form-group search-input">
                <i class="fa fa-search"></i>
                <input type="text" name="search" class="form-control" placeholder="Search..." 
                        (keyup)="searchTerm$.next($event.target.value)">
            </div>
            <div class="form-group new-button">
                <a (click)="goCreate()" href="javascript:;" class="btn btn-gray btn-block btn-new-insurance"><i class="fa fa-list mrg5R"></i>  NEW</a>
            </div>
            <p class="fetching-spinner" *ngIf="myTplService.fetching" 
                [@shrinkOut]="'in'" 
                (@shrinkOut.done)="showList(true)"
                (@shrinkOut.start)="showList(false)">
                <i class="spinner spinner-3"></i>
            </p>
        </div>
        <div class="insurance-list" *ngIf="fetchingDone">
            <ul *ngIf="insurance" class="list-unstyled">
                <li *ngFor="let item of insurance" (click)="showInsurance(item)" class="list-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h5>
                                <span class="labeling">Policy Type</span><br>
                                <i class="fa fa-car"></i> {{ item.policy_type_text }}, Ref# <em class="text-uppercase">{{ item.transaction_reference }}</em>
                            </h5>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="status-indicator">
                                <span class="labeling">Status</span>
                                <p class="text-uppercase"><strong>{{ item.status }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <span class="labeling">Make Model</span>
                            <p><i class="fa fa-user-circle-o"></i> {{ item.body_type }} {{ item.model }}</p>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <span class="labeling">Plate No.</span>
                            <p><i class="fa fa-address-card-o" aria-hidden="true"></i> {{ item.plate }}</p>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <span class="labeling">Expires on</span>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ formatMoment(item.inception_date_to, 'M/D/YYYY') }}</p>
                        </div>
                        <div *ngIf="item.payment && item.payment.status == 'S'" class="col-xs-6 col-sm-6 col-md-2">
                            <span class="labeling">COC</span>
                            <p><i class="fa fa-list-alt" aria-hidden="true"></i> {{ item.cocaf ? item.cocaf.coc_no : '0000000' }}</p>
                        </div>
                        <!-- <div class="col-xs-6 col-sm-6 col-md-4 text-right">
                            <button mat-button (click)="showInsurance(item)" class="btn btn-info mrg5L" type="button" title="View">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button mat-button 
                            *ngIf="item.payment && item.payment.status == 'S'"
                            [matMenuTriggerFor]="appMenu" 
                            [matMenuTriggerData]="{activeId: item.id}" class="btn btn-success mrg5L" type="button" title="Print">
                                <i class="fa fa-print"></i>
                            </button>
                        </div> -->
                    </div>
                </li>
            </ul>
            <p class="text-center font-red" *ngIf="noRecords">
                No records found!
            </p>
        </div>
    </div>
</div>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="print('ar', activeId)">
        <i class="fa fa-file-text-o fa-1x mrg5R"></i> Acknowledgement Receipt</button>
    <button mat-menu-item (click)="print('coc', activeId)">
        <i class="fa fa-table fa-1x mrg5R"></i> Confirmation of Cover</button>
    <button mat-menu-item (click)="print('policy', activeId)">
        <i class="fa fa-list fa-1x mrg5R"></i> TPL Policy</button>
    <button mat-menu-item (click)="print('ica', activeId)">
        <i class="fa fa-thumbs-o-up fa-1x mrg5R"></i> Insurance Commission Approval</button>
    <button mat-menu-item (click)="print('all', activeId)">
        <i class="fa fa-print fa-1x mrg5R"></i> Print All</button>
</mat-menu>

<div bsModal #printingModal="bs-modal" class="modal modal-app fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center form float floating-response">
            <div class="modal-content">
                <div class="modal-header">
                    <a (click)="hide()" href="javascript:;" class="pull-right" aria-label="Close">
                        <i class="fa fa-close font-red font-size-15 mrg5B"></i>
                    </a>
                    <h4 class="modal-title">Printing Documents</h4>
                </div>
                <div class="modal-body" *ngIf="htmlPrint != ''">
                    <div class="inner">
                        <iframe id="myFrame" name="myFrame" [src]="htmlPrint | safeUrl" [style.height.px]="mobHeight" frameborder="0" style=" position: relative; height: auto; width: 100%;"
                            class="printing-iframe"></iframe>
                    </div>
                    <div class="text-right">
                        <button mat-button (click)="hide()" class="btn btn-info mrg5L" type="button">
                            <i class="fa fa-close"></i> Close</button>
                        <!-- <button mat-button (click)="goDownload()" class="btn btn-success mrg5L" type="button"><i class="fa fa-file-text-o"></i> Download</button> -->
                        <button mat-button (click)="goPrint()" class="btn btn-danger mrg5L" type="button">
                            <i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>