<div class="container inner-page">
    <h1 class="text-center ng-heading">Profile</h1>
    <div class="inner">
        <form [formGroup]="profileFormGroup" class="row">
            <div class="col-xs-12 mrg25B form-button">
                <a class="btn btn-info mrg5R" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="btn btn-success mrg5L" (click)="doUpdate()"><i class="fa fa-sign-in"></i> Update</button>
                <hr>
            </div>
            <div class="col-xs-12">
                <h4 class="border">Profile</h4>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput
                        formControlName="firstName"
                        #firstName
                        maxlength="50"
                        [(ngModel)]="userData.first_name" 
                        placeholder="First Name" required>
                        <mat-error align="start" *ngIf="FirstName.errors?.required">This field is required.</mat-error>
                        <mat-hint align="end">{{firstName.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput
                        formControlName="lastName"
                        #lastName
                        maxlength="50"
                        [(ngModel)]="userData.last_name" 
                        placeholder="Last Name" required>
                        <mat-error align="start" *ngIf="LastName.errors?.required">This field is required.</mat-error>
                        <mat-hint align="end">{{lastName.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput
                        formControlName="contactNumber"
                        #contactNumber
                        maxlength="15"
                        [(ngModel)]="userData.customer.contact_number" 
                        placeholder="Contact Number" required>
                        <mat-error align="start" *ngIf="ContactNumber.errors?.required">This field is required.</mat-error>
                        <mat-hint align="end">{{contactNumber.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput formControlName="street" #street maxlength="50" [(ngModel)]="userData.customer.street" placeholder="Street">
                                <mat-hint align="end">{{street.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput formControlName="city" #city maxlength="50" [(ngModel)]="userData.customer.city" placeholder="City">
                                <mat-hint align="end">{{city.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput formControlName="province" #province maxlength="50" [(ngModel)]="userData.customer.province" placeholder="Province">
                                <mat-hint align="end">{{province.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput formControlName="zipCode" #zipCode maxlength="50" [(ngModel)]="userData.customer.zip_code" placeholder="Zip Code">
                                <mat-hint align="end">{{zipCode.value.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="border">Account Settings</h4>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="email" formControlName="email" #email maxlength="50" [(ngModel)]="userData.email" placeholder="Email Address"
                            required>
                        <mat-error align="start" *ngIf="Email.errors?.required">This field is required.</mat-error>
                        <mat-error align="start" *ngIf="Email.errors?.email && !Email.errors?.required">Email is invalid.</mat-error>
                        <mat-error align="start" *ngIf="Email.errors?.invalid && !Email.errors?.email && !Email.errors?.required">Email already is use.</mat-error>
                        <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="password" formControlName="oldPassword" #oldPassword maxlength="15" minlength="8" [(ngModel)]="userData.old_password" placeholder="Old Password">
                        <mat-error align="start" *ngIf="OldPassword.errors?.invalid && !OldPassword.errors?.minlength">Password incorrect.</mat-error>
                        <mat-error align="start" *ngIf="OldPassword.errors?.minlength">Password must atleast 8 characters.</mat-error>
                        <mat-hint align="end">{{oldPassword.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" #password maxlength="15" minlength="8" [(ngModel)]="userData.password" placeholder="Password">
                        <mat-error align="start" *ngIf="Password.errors?.minlength">Password must atleast 8 characters.</mat-error>
                        <mat-hint align="end">{{password.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="password" formControlName="passwordConfirmation" #passwordConfirmation maxlength="15" [(ngModel)]="userData.password_confirmation" placeholder="Confirm Password">
                        <mat-error align="start" *ngIf="PasswordConfirmation.errors?.MatchPassword">Password does not match.</mat-error>
                        <mat-hint align="end">{{passwordConfirmation.value.length}} / 15</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div *ngIf="isSourceEmpty" class="form-group">
                    <h5 class="my-label">How did you hear about us?</h5>
                    <div class="row">
                        <div [attr.class]="sourceEntityClass">
                            <mat-form-field>
                                <mat-select placeholder="Source" formControlName="sources" #sources [(ngModel)]="userData.customer.sources" (selectionChange)="sourcesChange()">
                                    <mat-option *ngFor="let source of sourceOptions" [value]="source.name">
                                        {{ source.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="sourceEntity" [attr.class]="sourceEntityClass">
                            <mat-form-field>
                                <input matInput formControlName="sourceEntity" #sourceEntity maxlength="15" 
                                [(ngModel)]="userData.customer.source_entity" [attr.placeholder]="sourceEntityLabel">
                                <mat-hint align="end">{{sourceEntity.value.length}} / 15</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>