.border {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    color: #666;
}

h5.my-label {
    border-radius: 3px;
    font-size: 14px;
    margin: 0 0;
    color: #f18a07;
    padding: 3px;
    margin-bottom: 3px;
}