<hr>
<div *ngIf="isSent" [@flyInOut]="'in'" class="text-center">
        <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i><br>
        <h3>Thank You!</h3>
    </div>
<form *ngIf="isSent == false" [formGroup]="howClaimForm" class="row claim-form">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="form-group">
            <mat-form-field>
                <input matInput
                formControlName="holderName"
                #holderName
                maxlength="50"
                [(ngModel)]="claimData.holder_name" 
                placeholder="Policy Holder Name" required>
                <mat-error align="start" *ngIf="HolderName.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{HolderName.value.length}} / 50</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput
                formControlName="policyNumber"
                #policyNumber
                maxlength="20"
                [(ngModel)]="claimData.policy_number" 
                placeholder="CTPL Policy Number" required>
                <mat-error align="start" *ngIf="PolicyNumber.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{PolicyNumber.value.length}} / 20</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput 
                formControlName="contactNumber" 
                #contactNumber
                maxlength="15" 
                [(ngModel)]="claimData.contact_number" 
                placeholder="Contact No (e.g +639991234567)">
                <mat-error align="start" *ngIf="ContactNumber.errors?.required">This field is required.</mat-error>
                <mat-hint align="end">{{ContactNumber.value.length}} / 15</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group mrg25B">
            <label class="mat-attach-files">
                <span>Attach Files...</span>
                <a href="javascript:;" (click)="clickFileUpload()">BROWSE</a>
                <input type="file" #fileUploader (change)="fileChange($event)" class="hidden" multiple accept=".pdf,.doc,.docx,.word">
            </label>
            <div *ngIf="myFiles.length > 0">
                <h6>Files Uploaded</h6>
                <ul class="list-unstyled list-with-separation">
                    <li *ngFor="let item of myFiles; let key = index">
                        <a href="javascript:;" (click)="removeFile(key)" class="btn btn-yellow btn-xs mrg5R">Remove</a>
                        {{ item.name }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <re-captcha #captchaRef="reCaptcha" class="captcha-center-margin" (resolved)="captchaResolved($event)" [siteKey]="captchaKey"></re-captcha>
        </div>
        <div class="text-center">
            <button mat-button (click)="onSubmitClaim()" class="btn btn-info" type="submit">{{ procText }}</button>
        </div>
    </div>
</form>