<!doctype html>
<html lang="en">
<head>
    <base href="/">  
    <meta charset="utf-8">
    <title><%= APP_TITLE %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= APP_BASE %>assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">
</head>
<body>
    <philbritish-app></philbritish-app>
</body>
</html>
