/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.captcha-center-margin > div {
    margin: auto;
}

.captcha-right-margin > div {
    margin: auto 0 0 auto;
}

.captcha-left-margin > div {
    margin: auto auto 0 0;
}