<div class="container homepage">
    <div *ngIf="isLoading" class="inner-loading text-center"><span class="display-inline spinner spinner-3"></span></div>
    <div *ngIf="isLoading == false" class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-content" [innerHTML]="homeIntroText | safeHtml"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-content">
            <div class="quick-actions" appEqualize="btn-quickactions">
                <ul *ngIf="hasAuth == false" class="list-inline">
                    <li><a (click)="showQuoteModal()" href="javascript:;" class="get-quote">Get Quote</a></li>
                    <li><a (click)="goCreate()" href="javascript:;" class="buy-now">Buy Now</a></li>
                    <li><a (click)="showAuthModal()" href="javascript:;" class="login">Login</a></li>
                </ul>
                <ul *ngIf="hasAuth != false" class="list-inline">
                    <li><a (click)="goToPurchase()" href="javascript:;" class="btn-quickactions get-quote">How to<br>purchase</a></li>
                    <li><a (click)="goCreate()" href="javascript:;" class="btn-quickactions buy-now">Buy Now</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="video text-center">
        <img *ngIf="hasVideo == false" [attr.src]="imageUrl" alt="Philbritish CTPL" class="img-responsive img-aligncenter">
        <iframe *ngIf="hasVideo" width="560" height="315" 
                [attr.src]="videoUrl | safeUrl"
                frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div> -->
</div>


<app-authentication #authModal
    (successLogin)="onSuccessLogin($event)"
    (successRegister)="onSuccessRegister($event)">
</app-authentication>


<app-get-quote #quoteModal></app-get-quote>