<div class="container inner-page">
    <h1 class="text-center ng-heading">My Insurance</h1>
    <div class="inner">
        <div class="insurance-preview insurance-show">
            <div *ngIf="isSuccess()" class="mrg25B form-buttons">
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="print('ar')"><i class="fa fa-file-text-o fa-1x mrg5R"></i> Acknowledgement Receipt</button>
                    <button mat-menu-item (click)="print('coc')"><i class="fa fa-table fa-1x mrg5R"></i> Confirmation of Cover</button>
                    <button mat-menu-item (click)="print('policy')"><i class="fa fa-list fa-1x mrg5R"></i> TPL Policy</button>
                    <button mat-menu-item (click)="print('ica')"><i class="fa fa-thumbs-o-up fa-1x mrg5R"></i> Insurance Commission Approval</button>
                    <button mat-menu-item (click)="print('all')"><i class="fa fa-print fa-1x mrg5R"></i> Print All</button>
                </mat-menu>
                        
                <button mat-button (click)="goBack()" class="btn btn-info" type="button"><i class="fa fa-arrow-left"></i> Back</button>
                <button mat-button [matMenuTriggerFor]="appMenu" class="btn btn-success mrg5L" type="button"><i class="fa fa-print"></i> Print Documents</button>
                <button mat-button (click)="goRenew()" class="btn btn-danger mrg5L" type="button"><i class="fa fa-refresh"></i> Renew</button>
                <div class="pull-right insurance-status" [innerHtml]="insuranceData.human_status"></div>
                <hr>
            </div>
            <div *ngIf="isPending() || isFailed()" class="mrg25B">
                <div *ngIf="isPending()" class="alert alert-warning">
                    <p>Waiting for payment confirmation.</p>
                </div>
                <div *ngIf="isFailed()" class="alert alert-danger">
                    <p>Payment confirmation failed.</p>
                </div>
                <button mat-button (click)="goBack()" class="btn btn-info" type="button"><i class="fa fa-arrow-left"></i> Back</button>
                <button mat-button (click)="goRenew()" *ngIf="isFailed()" class="btn btn-danger mrg5L" type="button">
                  <i class="fa fa-refresh"></i> Re-Purchase
                </button>
                
                <div class="pull-right insurance-status" [innerHtml]="insuranceData.human_status"></div><hr>
            </div>
            <div *ngIf="isSuccess()" class="row">
                <div class="col-xs-12 col-sm-2 heading-type">
                    <span class="box-label">COC No.</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.cocaf ? insuranceData.cocaf.coc_no : '' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-2 heading-type">
                    <span class="box-label">AR Number</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.payment ? insuranceData.payment.receipt_no : '' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">Policy No.</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.policy_number ? insuranceData.policy_number : '' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">Reference Number</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.transaction_reference }}
                    </p>
                </div>
            </div>
            <div *ngIf="isPending() || isFailed()" class="row">
                <div class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">Payment Ref:</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.payment ? insuranceData.payment.refno : '' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">Payment Result:</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.payment ? insuranceData.payment.message : '' }}
                    </p>
                </div>
                <div *ngIf="isPending()" class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">AR Number</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.payment ? insuranceData.payment.receipt_no : '' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 heading-type">
                    <span class="box-label">Reference Number</span>
                    <p class="box-value text-uppercase">
                        {{ insuranceData.transaction_reference }}
                    </p>
                </div>
            </div>
            <div class="heading-row"></div>
            <h4>POLICY</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">POLICY TYPE</span>
                    <p class="box-value">
                        {{ insuranceData.policy_type_text }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">VEHICLE TYPE</span>
                    <p class="box-value">
                        {{ insuranceData.vehicle_type_text }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">LTO MV TYPE</span>
                    <p class="box-value">
                        {{ insuranceData.mv_type_text }}
                    </p>
                </div>
            </div>
            <h4>MOTOR VEHICLE INFO</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">MV FILE NUMBER</span>
                    <p class="box-value">
                        {{ insuranceData.mv_file_number }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">PLATE NUMBER</span>
                    <p class="box-value">
                        {{ insuranceData.plate }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">ENGINE NUMBER</span>
                    <p class="box-value">
                        {{ insuranceData.engine_number }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">CHASSIS NUMBER</span>
                    <p class="box-value">
                        {{ insuranceData.chassis_number }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">MAKE</span>
                    <p class="box-value">
                        {{ insuranceData.make }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">BODY TYPE</span>
                    <p class="box-value">
                        {{ insuranceData.body_type }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">MODEL</span>
                    <p class="box-value">
                        {{ insuranceData.model }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">COLOR</span>
                    <p class="box-value">
                        {{ insuranceData.color }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="box-label">WEIGHT</span>
                    <p class="box-value">
                        {{ insuranceData.weight }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span class="box-label">CAPACITY</span>
                    <p class="box-value">
                        {{ insuranceData.capacity }}
                    </p>
                </div>
            </div>
            <h4>ASSURED DETAILS</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <span class="box-label">ASSURED NAME</span>
                    <p class="box-value">
                        {{ insuranceData.assured_name }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <span class="box-label">Assured Address</span>
                    <p class="box-value">
                        {{ insuranceData.house_number ? insuranceData.house_number+', ' : '' }}
                        {{ insuranceData.bldg ? insuranceData.bldg+', ' : '' }}
                        {{ insuranceData.street ? insuranceData.street+', ' : '' }}
                        {{ insuranceData.barangay ? insuranceData.barangay+', ' : '' }}
                        {{ insuranceData.province ? insuranceData.province+', ' : '' }}
                        {{ insuranceData.municipality_city ? insuranceData.municipality_city+', ' : '' }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">ASSURED CONTACT NO.</span>
                    <p class="box-value">
                        {{ insuranceData.assured_contact_no }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">ASSURED EMAIL</span>
                    <p class="box-value">
                        {{ insuranceData.assured_email }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">ASSURED TIN</span>
                    <p class="box-value">
                        {{ insuranceData.assured_tin }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="box-label">INCEPTION DATE FROM</span>
                    <p class="box-value">
                        <i class="fa fa-calendar"></i>  {{ formatMoment(insuranceData.inception_date_from, 'MMMM D, YYYY') }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span class="box-label">INCEPTION DATE TO</span>
                    <p class="box-value">
                        <i class="fa fa-calendar"></i>  {{ formatMoment(insuranceData.inception_date_to, 'MMMM D, YYYY') }}
                    </p>
                </div>
            </div>
            <h4>PRICE DETAILS</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">Renewal</span>
                    <p class="box-value">
                        {{ insuranceData.registration_type == 'N' ? 'No' : 'Yes' }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">Years of Coverage</span>
                    <p class="box-value">
                        {{ insuranceData.years_of_coverage }}
                    </p>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">Price <sup>(PHP)</sup></span>
                    <p class="box-value">{{ insuranceData.price }}</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="box-label">Processing Fee <sup>(PHP)</sup></span>
                    <p class="box-value">{{ insuranceData.processing_fee }}</p>
                </div> -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="box-label">Total Price <sup>(PHP)</sup></span>
                    <p class="box-value">{{ insuranceData.total_price }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #printingModal="bs-modal" class="modal modal-app fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center form float floating-response">
            <div class="modal-content">
                <div class="modal-header">
                    <a (click)="hide()" href="javascript:;" class="pull-right" aria-label="Close">
                        <i class="fa fa-close font-red font-size-15 mrg5B"></i>
                    </a>
                    <h4 class="modal-title">Printing Documents</h4>
                </div>
                <div class="modal-body" *ngIf="htmlPrint != ''">
                    <div class="inner">
                        <iframe id="myFrame" name="myFrame" [src]="htmlPrint | safeUrl"
                            [style.height.px]="mobHeight"
                            frameborder="0" 
                            style=" position: relative; height: auto; width: 100%;" 
                            class="printing-iframe"></iframe>
                    </div>
                    <div class="text-right">
                        <button mat-button (click)="hide()" class="btn btn-info mrg5L" type="button"><i class="fa fa-close"></i> Close</button>
                        <!-- <button mat-button (click)="goDownload()" class="btn btn-success mrg5L" type="button"><i class="fa fa-file-text-o"></i> Download</button> -->
                        <button mat-button (click)="goPrint()" class="btn btn-danger mrg5L" type="button"><i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>